:root {
	--page-container-margin: 20px;
	--color-black: #444A59;
    --backgrounnd-color: #f8f8f8;

	--section-max-width: 1240px;

	@media (min-width: 800px) {
		--page-container-margin: 40px
	}
}

@import './fonts';
@import './reset';